@charset "UTF-8";
/* CSS Document */
body {
  font-family: system-ui, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header {
  padding: 3rem 1rem;
  text-align: center;
  background: #111;
  color: #FFF;
}

section {
  padding: 2rem 1rem;
  max-width: 900px;
  margin: auto;
}

a{
  color: #0066FF;
  text-decoration: none;
}